/* Genel Ayarlar */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* Konteyner */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.dashboard-container, .create-topic-container, .topic-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Başlıklar */
h1, h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

/* Bağlantılar */
a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Liste Elemanları */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

ul li:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Giriş Alanları ve Butonlar */
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Metin Alanı */
textarea {
    min-height: 100px;
}
