<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="stylesheet" href="static/styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .error {
            color: red;
            font-size: 14px;
            margin-top: 10px;
        }
        .success {
            color: green;
            font-size: 14px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <input type="email" name="email" required>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
        <p>Hesabınız yok mu? <a href="/register">Kayıt Ol</a></p>

    </form>
    

    <!-- Hata mesajlarını burada gösteriyoruz -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
